html {
    font-family: 'Helvetica', sans-serif;
}

body {
    overflow: hidden;
    background-color: #001c55;
    
}
/* audioBox posisjon og størrelse*/

.audioBox {
    position: relative;
    margin-left: 39%;
    top: 130px;
    z-index: 10;
    /*use this to push down text*/
    margin-bottom: 34%;
    
}

/* Side Overskrift */

.mainOverskrift {
    z-index: 11;
    position: relative;
    padding: 0;
    bottom: 500px;
    right: 18px;
}

/* container posisjon og størrelse*/

.boxToPlaceText {
    background: #001c55;
    overflow: relative;
    width: 1200px;
    height: auto;
    left: 150px;
    right: 300px;
    /*push down text*/
    position: relative;
}

/* fadeout box for text */

.boxToPlaceText::after {
    content: '';
    position: fixed;
    top: 0px;
    width: 100%;
    height: 84%;
    background: linear-gradient(180deg, rgba(0, 28, 85, 1) 40%, rgba(0, 28, 85, 0) 100%); 
    
    
}

/*Wrapper for animation*/

.wrapper {
    display: flex;
    height: 80%;
    width: 100%;
    perspective: 1050px;
}

/* Text Box*/
.scrollText {
    font-size: 3.5vw;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 85s linear forwards;
}

/*Text - styling */
h1, h3 {
    text-align: center;
}

.småOverskrifter {
    text-decoration: underline;
}

h3 {
    color: red;
}


@keyframes scroll {
    from { top: 0; transform: translateZ(0) rotateX(0deg) }
    to { top: -7500px; transform: translateZ(-2500px) rotateX(21deg) }
}

/* Header styling */

.header {
    overflow: hidden;
    z-index: 18;
    margin: 10px;
    height: 40px;
    background: #00072d;
    border: 2px solid #0e6ba8;
    border-radius: 15px;
    text-align: left;
}

.dropdown {
    position: absolute;
    margin: 10px;
    list-style: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #00072d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 30px 20px;
    border: 2px solid #0e6ba8;
    border-radius: 20px;
    font-size: 25px;
}

.dropdown:hover .dropdownContent {
    display: flex;
    flex-direction: column;
    animation: dropdownAnimation 300ms ease-in-out;
    animation-fill-mode: forwards;
}

.dropdownContent li {
    list-style: none;
}

.dropdownLink {
    text-decoration: none;
    color: white;
    opacity: 1;
    transition: opacity 300ms;
}

.dropdownLink:hover {
    opacity: 0.3;
}


/***
ANIMASJONER
***/

@keyframes dropdownAnimation {
    0% {opacity: 0;
        transform: rotateY(-90deg) translateY(30px)}
    100% {opacity: 1;
          transform: rotateY(0deg) translateY(0px)}
}

@keyframes colorChange {
	0% {background-position: left;}
	100% {background-position: right;}
}



